<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
</head>


<div id="nav">
        <header>
            <nav class="horizontal">
                <ul>
                    <li><a class="nav" href="/george">George</a></li>
                    <li><a class="nav" href="/byron">Byron</a></li>
                    <li><a class="nav" href="/tobias">Tobias</a></li>
                    <li><a class="nav" href="/lindsay">Lindsay</a></li>
                    <li><a class="nav" href="/michael">Michael</a></li>
                </ul>
            </nav>
            
        </header>
    </div>


<body>
    {{{ body }}}

</html>