<h3>People: </h3>

{{#each people}}
    <p> {{ this.first_name }}</p>
    <p> {{ this.last_name }} </p>
    <img src="{{ this.avatar }}" alt="some avatar, not from the movie">
    
{{/each}}

{{!-- {{#each}} --}}