div.byron{
    background:black;
}



header {
    background-color: rgba(0, 0, 0, 0.925);
}

li {
    display: inline;
}

#nav li {
    list-style-type: none;
    display: block;
    width: 17%;
    float: right;
    text-decoration: none;
    text-align: center;
    padding: 25px 20px 20px 20px;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#nav a {
    position: relative;
    color: red;
    font-size: 3vh;
    text-decoration: none;
}

footer{
        background-color: rgba(0, 0, 0, 0.925);
        padding: 8px;
        color: red;
        text-align: center;
        margin-top: 184px;
}

footer a{
    color: white;
    text-decoration: none;
}
